html,
body {
  height: 100%;
}


html {
  font-family: $sans;
  color: color(white);

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1rem;
  font-size: font-size(1);
  font-weight: 400;

  background-color: color(primary, darken-3);
}