.moment-button--active {
  position: relative;
  .button {
    @include animation(glow 1.5s $animation-easing);
  }
}
.moment-button__tooltip {
  position: absolute;
  top: -1.75rem;
  left: 50%;
  padding: 0.25rem 0.5rem;

  border-radius: 0.125rem;

  color: color(secondary);
  white-space: nowrap;


  background-color: color(white);

  @include transform(translateX(-50%));
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;

    border: solid transparent;
    border-top-color: color(white);
    border-width: 10px;
    margin-left: -10px;

    pointer-events: none;
  }

}

@include keyframes(glow) {
  0% {
    box-shadow: 0 0 0 color(secondary, lighten-2);
  }
  50% {
    box-shadow: 0 0 40px color(secondary, lighten-2);
    background-color: color(secondary, lighten-1);
  }
  100% {
    box-shadow: 0 0 0 color(secondary, lighten-2);
  }
}