/*
  Resets annoying things */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-size-adjust: 100%; }

ul ul, ul ol, ol ol, ol ul {
  padding-left: 1rem; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

/*
  HTML5 element fixes */
article, aside, details,
figcaption, figure, footer,
header, hgroup,
main, menu, nav,
section, summary,
video, audio, canvas {
  display: block; }

/*
  Hides things that should be hidden */
.hidden,
[hidden],
template,
audio:not([controls]) {
  display: none !important;
  height: 0 !important; }

/*
  Misc element fixes */
a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  height: 0; }

/*
  Image fixes */
img,
svg {
  border: none;
  display: block; }

/*
  Buttons and forms */
button {
  overflow: visible; }

button,
[type="submit"],
[type="reset"] {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  white-space: normal; }

[disabled] {
  cursor: not-allowed !important;
  opacity: 1; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input {
  background: none;
  border: none; }

textarea {
  overflow: auto;
  resize: vertical;
  display: block;
  min-height: 3rem; }

/*
  Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 100%; }

td,
th {
  padding: 0;
  text-align: left; }

/*
  Touchable things */
a,
button,
input,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/*
  List things */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  margin: 0; }

dd {
  margin: 0; }

html {
  font-size: 133%;
  /* Used if browser doesn't support calc() */
  font-size: calc(1em + 0.4vw + 0.4vh + 0.2vmin); }

html,
body {
  height: 100%; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d1616;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  line-height: 1rem;
  font-size: 0.7rem;
  font-weight: 400;
  background-color: #fbf9f9; }

.borders {
  border-style: solid;
  border-width: 1px; }

.borders-v {
  border-style: solid;
  border-width: 1px 0; }

.borders-h {
  border-style: solid;
  border-width: 0   1px; }

.border-left {
  border-width: 0 0 0 1px;
  border-style: solid; }

.border-top {
  border-width: 1px 0 0 0;
  border-style: solid; }

.border-right {
  border-width: 0 1px 0 0;
  border-style: solid; }

.border-bottom {
  border-width: 0 0 1px 0;
  border-style: solid; }

.child-borders > *,
.child-borders-x > *,
.child-borders-y > * {
  border-style: solid;
  border-width: 0; }

.child-borders {
  border: 0 solid;
  border-width: 1px 0 0 1px; }

.child-borders > * + * {
  border-width: 0 1px 1px 0; }

.child-borders-x > * + * {
  border-left-width: 1px; }

.child-borders-y > * + * {
  border-top-width: 1px; }

.border-radius {
  border-radius: 4px; }

.border-radius-rounded {
  border-radius: 200px; }

.border-radius-50 {
  border-radius: 50%; }

.color .color-primary-lighten-5 {
  color: #e6edf4; }

.color .color-primary-lighten-4 {
  color: #b8cbe0; }

.color .color-primary-lighten-3 {
  color: #8caccf; }

.color .color-primary-lighten-2 {
  color: #5d8bbb; }

.color .color-primary-lighten-1 {
  color: #2e69a8; }

.color .color-primary {
  color: #004794; }

.color .color-primary-darken-1 {
  color: #00346b; }

.color .color-primary-darken-2 {
  color: #002042; }

.color .color-primary-darken-3 {
  color: #001429; }

.color .color-primary-darken-4 {
  color: #000c1a; }

.color .color-gray-lighten-5 {
  color: #fbf9f9; }

.color .color-gray-lighten-4 {
  color: #f4f1f1; }

.color .color-gray-lighten-3 {
  color: #e0d7d7; }

.color .color-gray-lighten-2 {
  color: #d3c5c5; }

.color .color-gray-lighten-1 {
  color: #c5b4b4; }

.color .color-gray {
  color: #ab9292; }

.color .color-gray-darken-1 {
  color: #856666; }

.color .color-gray-darken-2 {
  color: #6d5454; }

.color .color-gray-darken-3 {
  color: #4b3a3a; }

.color .color-gray-darken-4 {
  color: #1d1616; }

.color .color-green-lighten-5 {
  color: #e6faf4; }

.color .color-green-lighten-4 {
  color: #c2eade; }

.color .color-green-lighten-3 {
  color: #8beacd; }

.color .color-green-lighten-2 {
  color: #5ae2b9; }

.color .color-green-lighten-1 {
  color: #2fdaa7; }

.color .color-green {
  color: #00d192; }

.color .color-green-darken-1 {
  color: #00996b; }

.color .color-green-darken-2 {
  color: #006144; }

.color .color-green-darken-3 {
  color: #003827; }

.color .color-green-darken-4 {
  color: #00291d; }

.color .color-yellow-lighten-5 {
  color: #fef9e7; }

.color .color-yellow-lighten-4 {
  color: #fef1be; }

.color .color-yellow-lighten-3 {
  color: #fee995; }

.color .color-yellow-lighten-2 {
  color: #fddf68; }

.color .color-yellow-lighten-1 {
  color: #fdd73f; }

.color .color-yellow {
  color: #fdce12; }

.color .color-yellow-darken-1 {
  color: #b9970e; }

.color .color-yellow-darken-2 {
  color: #715c09; }

.color .color-yellow-darken-3 {
  color: #473a05; }

.color .color-yellow-darken-4 {
  color: #2f2604; }

.color .color-red-lighten-5 {
  color: #fff0f0; }

.color .color-red-lighten-4 {
  color: #ffcccc; }

.color .color-red-lighten-3 {
  color: #ffadad; }

.color .color-red-lighten-2 {
  color: #ff8a8a; }

.color .color-red-lighten-1 {
  color: #ff6b6b; }

.color .color-red {
  color: #ff4747; }

.color .color-red-darken-1 {
  color: #bb3535; }

.color .color-red-darken-2 {
  color: #732121; }

.color .color-red-darken-3 {
  color: #481414; }

.color .color-red-darken-4 {
  color: #2f0e0e; }

.color-black {
  color: black; }

.color-white {
  color: white; }

.color-transparent {
  color: transparent; }

.color-none {
  color: none; }

.color-inherit {
  color: inherit; }

.color-currentcolor {
  color: currentcolor; }

.bg .bg-primary-lighten-5 {
  background-color: #e6edf4; }

.bg .bg-primary-lighten-4 {
  background-color: #b8cbe0; }

.bg .bg-primary-lighten-3 {
  background-color: #8caccf; }

.bg .bg-primary-lighten-2 {
  background-color: #5d8bbb; }

.bg .bg-primary-lighten-1 {
  background-color: #2e69a8; }

.bg .bg-primary {
  background-color: #004794; }

.bg .bg-primary-darken-1 {
  background-color: #00346b; }

.bg .bg-primary-darken-2 {
  background-color: #002042; }

.bg .bg-primary-darken-3 {
  background-color: #001429; }

.bg .bg-primary-darken-4 {
  background-color: #000c1a; }

.bg .bg-gray-lighten-5 {
  background-color: #fbf9f9; }

.bg .bg-gray-lighten-4 {
  background-color: #f4f1f1; }

.bg .bg-gray-lighten-3 {
  background-color: #e0d7d7; }

.bg .bg-gray-lighten-2 {
  background-color: #d3c5c5; }

.bg .bg-gray-lighten-1 {
  background-color: #c5b4b4; }

.bg .bg-gray {
  background-color: #ab9292; }

.bg .bg-gray-darken-1 {
  background-color: #856666; }

.bg .bg-gray-darken-2 {
  background-color: #6d5454; }

.bg .bg-gray-darken-3 {
  background-color: #4b3a3a; }

.bg .bg-gray-darken-4 {
  background-color: #1d1616; }

.bg .bg-green-lighten-5 {
  background-color: #e6faf4; }

.bg .bg-green-lighten-4 {
  background-color: #c2eade; }

.bg .bg-green-lighten-3 {
  background-color: #8beacd; }

.bg .bg-green-lighten-2 {
  background-color: #5ae2b9; }

.bg .bg-green-lighten-1 {
  background-color: #2fdaa7; }

.bg .bg-green {
  background-color: #00d192; }

.bg .bg-green-darken-1 {
  background-color: #00996b; }

.bg .bg-green-darken-2 {
  background-color: #006144; }

.bg .bg-green-darken-3 {
  background-color: #003827; }

.bg .bg-green-darken-4 {
  background-color: #00291d; }

.bg .bg-yellow-lighten-5 {
  background-color: #fef9e7; }

.bg .bg-yellow-lighten-4 {
  background-color: #fef1be; }

.bg .bg-yellow-lighten-3 {
  background-color: #fee995; }

.bg .bg-yellow-lighten-2 {
  background-color: #fddf68; }

.bg .bg-yellow-lighten-1 {
  background-color: #fdd73f; }

.bg .bg-yellow {
  background-color: #fdce12; }

.bg .bg-yellow-darken-1 {
  background-color: #b9970e; }

.bg .bg-yellow-darken-2 {
  background-color: #715c09; }

.bg .bg-yellow-darken-3 {
  background-color: #473a05; }

.bg .bg-yellow-darken-4 {
  background-color: #2f2604; }

.bg .bg-red-lighten-5 {
  background-color: #fff0f0; }

.bg .bg-red-lighten-4 {
  background-color: #ffcccc; }

.bg .bg-red-lighten-3 {
  background-color: #ffadad; }

.bg .bg-red-lighten-2 {
  background-color: #ff8a8a; }

.bg .bg-red-lighten-1 {
  background-color: #ff6b6b; }

.bg .bg-red {
  background-color: #ff4747; }

.bg .bg-red-darken-1 {
  background-color: #bb3535; }

.bg .bg-red-darken-2 {
  background-color: #732121; }

.bg .bg-red-darken-3 {
  background-color: #481414; }

.bg .bg-red-darken-4 {
  background-color: #2f0e0e; }

.bg-black {
  background-color: black; }

.bg-white {
  background-color: white; }

.bg-transparent {
  background-color: transparent; }

.bg-none {
  background-color: none; }

.bg-inherit {
  background-color: inherit; }

.bg-currentcolor {
  background-color: currentcolor; }

.border-color .border-color-primary-lighten-5 {
  border-color: #e6edf4; }

.border-color .border-color-primary-lighten-4 {
  border-color: #b8cbe0; }

.border-color .border-color-primary-lighten-3 {
  border-color: #8caccf; }

.border-color .border-color-primary-lighten-2 {
  border-color: #5d8bbb; }

.border-color .border-color-primary-lighten-1 {
  border-color: #2e69a8; }

.border-color .border-color-primary {
  border-color: #004794; }

.border-color .border-color-primary-darken-1 {
  border-color: #00346b; }

.border-color .border-color-primary-darken-2 {
  border-color: #002042; }

.border-color .border-color-primary-darken-3 {
  border-color: #001429; }

.border-color .border-color-primary-darken-4 {
  border-color: #000c1a; }

.border-color .border-color-gray-lighten-5 {
  border-color: #fbf9f9; }

.border-color .border-color-gray-lighten-4 {
  border-color: #f4f1f1; }

.border-color .border-color-gray-lighten-3 {
  border-color: #e0d7d7; }

.border-color .border-color-gray-lighten-2 {
  border-color: #d3c5c5; }

.border-color .border-color-gray-lighten-1 {
  border-color: #c5b4b4; }

.border-color .border-color-gray {
  border-color: #ab9292; }

.border-color .border-color-gray-darken-1 {
  border-color: #856666; }

.border-color .border-color-gray-darken-2 {
  border-color: #6d5454; }

.border-color .border-color-gray-darken-3 {
  border-color: #4b3a3a; }

.border-color .border-color-gray-darken-4 {
  border-color: #1d1616; }

.border-color .border-color-green-lighten-5 {
  border-color: #e6faf4; }

.border-color .border-color-green-lighten-4 {
  border-color: #c2eade; }

.border-color .border-color-green-lighten-3 {
  border-color: #8beacd; }

.border-color .border-color-green-lighten-2 {
  border-color: #5ae2b9; }

.border-color .border-color-green-lighten-1 {
  border-color: #2fdaa7; }

.border-color .border-color-green {
  border-color: #00d192; }

.border-color .border-color-green-darken-1 {
  border-color: #00996b; }

.border-color .border-color-green-darken-2 {
  border-color: #006144; }

.border-color .border-color-green-darken-3 {
  border-color: #003827; }

.border-color .border-color-green-darken-4 {
  border-color: #00291d; }

.border-color .border-color-yellow-lighten-5 {
  border-color: #fef9e7; }

.border-color .border-color-yellow-lighten-4 {
  border-color: #fef1be; }

.border-color .border-color-yellow-lighten-3 {
  border-color: #fee995; }

.border-color .border-color-yellow-lighten-2 {
  border-color: #fddf68; }

.border-color .border-color-yellow-lighten-1 {
  border-color: #fdd73f; }

.border-color .border-color-yellow {
  border-color: #fdce12; }

.border-color .border-color-yellow-darken-1 {
  border-color: #b9970e; }

.border-color .border-color-yellow-darken-2 {
  border-color: #715c09; }

.border-color .border-color-yellow-darken-3 {
  border-color: #473a05; }

.border-color .border-color-yellow-darken-4 {
  border-color: #2f2604; }

.border-color .border-color-red-lighten-5 {
  border-color: #fff0f0; }

.border-color .border-color-red-lighten-4 {
  border-color: #ffcccc; }

.border-color .border-color-red-lighten-3 {
  border-color: #ffadad; }

.border-color .border-color-red-lighten-2 {
  border-color: #ff8a8a; }

.border-color .border-color-red-lighten-1 {
  border-color: #ff6b6b; }

.border-color .border-color-red {
  border-color: #ff4747; }

.border-color .border-color-red-darken-1 {
  border-color: #bb3535; }

.border-color .border-color-red-darken-2 {
  border-color: #732121; }

.border-color .border-color-red-darken-3 {
  border-color: #481414; }

.border-color .border-color-red-darken-4 {
  border-color: #2f0e0e; }

.border-color-black {
  border-color: black; }

.border-color-white {
  border-color: white; }

.border-color-transparent {
  border-color: transparent; }

.border-color-none {
  border-color: none; }

.border-color-inherit {
  border-color: inherit; }

.border-color-currentcolor {
  border-color: currentcolor; }

.stroke .stroke-primary-lighten-5 {
  stroke: #e6edf4; }

.stroke .stroke-primary-lighten-4 {
  stroke: #b8cbe0; }

.stroke .stroke-primary-lighten-3 {
  stroke: #8caccf; }

.stroke .stroke-primary-lighten-2 {
  stroke: #5d8bbb; }

.stroke .stroke-primary-lighten-1 {
  stroke: #2e69a8; }

.stroke .stroke-primary {
  stroke: #004794; }

.stroke .stroke-primary-darken-1 {
  stroke: #00346b; }

.stroke .stroke-primary-darken-2 {
  stroke: #002042; }

.stroke .stroke-primary-darken-3 {
  stroke: #001429; }

.stroke .stroke-primary-darken-4 {
  stroke: #000c1a; }

.stroke .stroke-gray-lighten-5 {
  stroke: #fbf9f9; }

.stroke .stroke-gray-lighten-4 {
  stroke: #f4f1f1; }

.stroke .stroke-gray-lighten-3 {
  stroke: #e0d7d7; }

.stroke .stroke-gray-lighten-2 {
  stroke: #d3c5c5; }

.stroke .stroke-gray-lighten-1 {
  stroke: #c5b4b4; }

.stroke .stroke-gray {
  stroke: #ab9292; }

.stroke .stroke-gray-darken-1 {
  stroke: #856666; }

.stroke .stroke-gray-darken-2 {
  stroke: #6d5454; }

.stroke .stroke-gray-darken-3 {
  stroke: #4b3a3a; }

.stroke .stroke-gray-darken-4 {
  stroke: #1d1616; }

.stroke .stroke-green-lighten-5 {
  stroke: #e6faf4; }

.stroke .stroke-green-lighten-4 {
  stroke: #c2eade; }

.stroke .stroke-green-lighten-3 {
  stroke: #8beacd; }

.stroke .stroke-green-lighten-2 {
  stroke: #5ae2b9; }

.stroke .stroke-green-lighten-1 {
  stroke: #2fdaa7; }

.stroke .stroke-green {
  stroke: #00d192; }

.stroke .stroke-green-darken-1 {
  stroke: #00996b; }

.stroke .stroke-green-darken-2 {
  stroke: #006144; }

.stroke .stroke-green-darken-3 {
  stroke: #003827; }

.stroke .stroke-green-darken-4 {
  stroke: #00291d; }

.stroke .stroke-yellow-lighten-5 {
  stroke: #fef9e7; }

.stroke .stroke-yellow-lighten-4 {
  stroke: #fef1be; }

.stroke .stroke-yellow-lighten-3 {
  stroke: #fee995; }

.stroke .stroke-yellow-lighten-2 {
  stroke: #fddf68; }

.stroke .stroke-yellow-lighten-1 {
  stroke: #fdd73f; }

.stroke .stroke-yellow {
  stroke: #fdce12; }

.stroke .stroke-yellow-darken-1 {
  stroke: #b9970e; }

.stroke .stroke-yellow-darken-2 {
  stroke: #715c09; }

.stroke .stroke-yellow-darken-3 {
  stroke: #473a05; }

.stroke .stroke-yellow-darken-4 {
  stroke: #2f2604; }

.stroke .stroke-red-lighten-5 {
  stroke: #fff0f0; }

.stroke .stroke-red-lighten-4 {
  stroke: #ffcccc; }

.stroke .stroke-red-lighten-3 {
  stroke: #ffadad; }

.stroke .stroke-red-lighten-2 {
  stroke: #ff8a8a; }

.stroke .stroke-red-lighten-1 {
  stroke: #ff6b6b; }

.stroke .stroke-red {
  stroke: #ff4747; }

.stroke .stroke-red-darken-1 {
  stroke: #bb3535; }

.stroke .stroke-red-darken-2 {
  stroke: #732121; }

.stroke .stroke-red-darken-3 {
  stroke: #481414; }

.stroke .stroke-red-darken-4 {
  stroke: #2f0e0e; }

.stroke-black {
  stroke: black; }

.stroke-white {
  stroke: white; }

.stroke-transparent {
  stroke: transparent; }

.stroke-none {
  stroke: none; }

.stroke-inherit {
  stroke: inherit; }

.stroke-currentcolor {
  stroke: currentcolor; }

.fill .fill-primary-lighten-5 {
  fill: #e6edf4; }

.fill .fill-primary-lighten-4 {
  fill: #b8cbe0; }

.fill .fill-primary-lighten-3 {
  fill: #8caccf; }

.fill .fill-primary-lighten-2 {
  fill: #5d8bbb; }

.fill .fill-primary-lighten-1 {
  fill: #2e69a8; }

.fill .fill-primary {
  fill: #004794; }

.fill .fill-primary-darken-1 {
  fill: #00346b; }

.fill .fill-primary-darken-2 {
  fill: #002042; }

.fill .fill-primary-darken-3 {
  fill: #001429; }

.fill .fill-primary-darken-4 {
  fill: #000c1a; }

.fill .fill-gray-lighten-5 {
  fill: #fbf9f9; }

.fill .fill-gray-lighten-4 {
  fill: #f4f1f1; }

.fill .fill-gray-lighten-3 {
  fill: #e0d7d7; }

.fill .fill-gray-lighten-2 {
  fill: #d3c5c5; }

.fill .fill-gray-lighten-1 {
  fill: #c5b4b4; }

.fill .fill-gray {
  fill: #ab9292; }

.fill .fill-gray-darken-1 {
  fill: #856666; }

.fill .fill-gray-darken-2 {
  fill: #6d5454; }

.fill .fill-gray-darken-3 {
  fill: #4b3a3a; }

.fill .fill-gray-darken-4 {
  fill: #1d1616; }

.fill .fill-green-lighten-5 {
  fill: #e6faf4; }

.fill .fill-green-lighten-4 {
  fill: #c2eade; }

.fill .fill-green-lighten-3 {
  fill: #8beacd; }

.fill .fill-green-lighten-2 {
  fill: #5ae2b9; }

.fill .fill-green-lighten-1 {
  fill: #2fdaa7; }

.fill .fill-green {
  fill: #00d192; }

.fill .fill-green-darken-1 {
  fill: #00996b; }

.fill .fill-green-darken-2 {
  fill: #006144; }

.fill .fill-green-darken-3 {
  fill: #003827; }

.fill .fill-green-darken-4 {
  fill: #00291d; }

.fill .fill-yellow-lighten-5 {
  fill: #fef9e7; }

.fill .fill-yellow-lighten-4 {
  fill: #fef1be; }

.fill .fill-yellow-lighten-3 {
  fill: #fee995; }

.fill .fill-yellow-lighten-2 {
  fill: #fddf68; }

.fill .fill-yellow-lighten-1 {
  fill: #fdd73f; }

.fill .fill-yellow {
  fill: #fdce12; }

.fill .fill-yellow-darken-1 {
  fill: #b9970e; }

.fill .fill-yellow-darken-2 {
  fill: #715c09; }

.fill .fill-yellow-darken-3 {
  fill: #473a05; }

.fill .fill-yellow-darken-4 {
  fill: #2f2604; }

.fill .fill-red-lighten-5 {
  fill: #fff0f0; }

.fill .fill-red-lighten-4 {
  fill: #ffcccc; }

.fill .fill-red-lighten-3 {
  fill: #ffadad; }

.fill .fill-red-lighten-2 {
  fill: #ff8a8a; }

.fill .fill-red-lighten-1 {
  fill: #ff6b6b; }

.fill .fill-red {
  fill: #ff4747; }

.fill .fill-red-darken-1 {
  fill: #bb3535; }

.fill .fill-red-darken-2 {
  fill: #732121; }

.fill .fill-red-darken-3 {
  fill: #481414; }

.fill .fill-red-darken-4 {
  fill: #2f0e0e; }

.fill-black {
  fill: black; }

.fill-white {
  fill: white; }

.fill-transparent {
  fill: transparent; }

.fill-none {
  fill: none; }

.fill-inherit {
  fill: inherit; }

.fill-currentcolor {
  fill: currentcolor; }

.outline .outline-primary-lighten-5 {
  outline: #e6edf4; }

.outline .outline-primary-lighten-4 {
  outline: #b8cbe0; }

.outline .outline-primary-lighten-3 {
  outline: #8caccf; }

.outline .outline-primary-lighten-2 {
  outline: #5d8bbb; }

.outline .outline-primary-lighten-1 {
  outline: #2e69a8; }

.outline .outline-primary {
  outline: #004794; }

.outline .outline-primary-darken-1 {
  outline: #00346b; }

.outline .outline-primary-darken-2 {
  outline: #002042; }

.outline .outline-primary-darken-3 {
  outline: #001429; }

.outline .outline-primary-darken-4 {
  outline: #000c1a; }

.outline .outline-gray-lighten-5 {
  outline: #fbf9f9; }

.outline .outline-gray-lighten-4 {
  outline: #f4f1f1; }

.outline .outline-gray-lighten-3 {
  outline: #e0d7d7; }

.outline .outline-gray-lighten-2 {
  outline: #d3c5c5; }

.outline .outline-gray-lighten-1 {
  outline: #c5b4b4; }

.outline .outline-gray {
  outline: #ab9292; }

.outline .outline-gray-darken-1 {
  outline: #856666; }

.outline .outline-gray-darken-2 {
  outline: #6d5454; }

.outline .outline-gray-darken-3 {
  outline: #4b3a3a; }

.outline .outline-gray-darken-4 {
  outline: #1d1616; }

.outline .outline-green-lighten-5 {
  outline: #e6faf4; }

.outline .outline-green-lighten-4 {
  outline: #c2eade; }

.outline .outline-green-lighten-3 {
  outline: #8beacd; }

.outline .outline-green-lighten-2 {
  outline: #5ae2b9; }

.outline .outline-green-lighten-1 {
  outline: #2fdaa7; }

.outline .outline-green {
  outline: #00d192; }

.outline .outline-green-darken-1 {
  outline: #00996b; }

.outline .outline-green-darken-2 {
  outline: #006144; }

.outline .outline-green-darken-3 {
  outline: #003827; }

.outline .outline-green-darken-4 {
  outline: #00291d; }

.outline .outline-yellow-lighten-5 {
  outline: #fef9e7; }

.outline .outline-yellow-lighten-4 {
  outline: #fef1be; }

.outline .outline-yellow-lighten-3 {
  outline: #fee995; }

.outline .outline-yellow-lighten-2 {
  outline: #fddf68; }

.outline .outline-yellow-lighten-1 {
  outline: #fdd73f; }

.outline .outline-yellow {
  outline: #fdce12; }

.outline .outline-yellow-darken-1 {
  outline: #b9970e; }

.outline .outline-yellow-darken-2 {
  outline: #715c09; }

.outline .outline-yellow-darken-3 {
  outline: #473a05; }

.outline .outline-yellow-darken-4 {
  outline: #2f2604; }

.outline .outline-red-lighten-5 {
  outline: #fff0f0; }

.outline .outline-red-lighten-4 {
  outline: #ffcccc; }

.outline .outline-red-lighten-3 {
  outline: #ffadad; }

.outline .outline-red-lighten-2 {
  outline: #ff8a8a; }

.outline .outline-red-lighten-1 {
  outline: #ff6b6b; }

.outline .outline-red {
  outline: #ff4747; }

.outline .outline-red-darken-1 {
  outline: #bb3535; }

.outline .outline-red-darken-2 {
  outline: #732121; }

.outline .outline-red-darken-3 {
  outline: #481414; }

.outline .outline-red-darken-4 {
  outline: #2f0e0e; }

.outline-black {
  outline: black; }

.outline-white {
  outline: white; }

.outline-transparent {
  outline: transparent; }

.outline-none {
  outline: none; }

.outline-inherit {
  outline: inherit; }

.outline-currentcolor {
  outline: currentcolor; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }

.grow,
.grow-children > * {
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  flex-basis: auto;
  -ms-flex-preferred-size: auto;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

.even,
.even-children > * {
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

.wrap {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex.inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.align-stretch {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }

.align-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }

.align-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.align-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }

.align-baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -ms-flex-align: baseline; }

.justify {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.justify-around {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }

.justify-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }

.justify-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.justify-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }

.vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

.vertical-reverse {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse; }

.reverse {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-direction: row-reverse; }

.content-stretch {
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch; }

.content-start {
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start; }

.content-center {
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center; }

.content-end {
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  align-content: flex-end;
  -ms-flex-line-pack: end; }

.content-justify {
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  align-content: space-between;
  -ms-flex-line-pack: justify; }

.content-justify-around {
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  align-content: space-around;
  -ms-flex-line-pack: distribute; }

.self-stretch {
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch; }

.self-start {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start; }

.self-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

.self-end {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end; }

.self-baseline {
  -webkit-align-self: baseline;
  -moz-align-self: baseline;
  align-self: baseline;
  -ms-flex-item-align: baseline; }

@media screen and (max-width: 319px) {
  .unflex-xs {
    display: block; }
  .unflex-xs > * {
    margin-left: 0;
    margin-right: 0; }
  .unflex-xs > * + * {
    margin-top: 1rem; } }

@media screen and (max-width: 611px) {
  .unflex-s {
    display: block; }
  .unflex-s > * {
    margin-left: 0;
    margin-right: 0; }
  .unflex-s > * + * {
    margin-top: 1rem; } }

@media screen and (max-width: 767px) {
  .unflex-m {
    display: block; }
  .unflex-m > * {
    margin-left: 0;
    margin-right: 0; }
  .unflex-m > * + * {
    margin-top: 1rem; } }

@media screen and (max-width: 979px) {
  .unflex-l {
    display: block; }
  .unflex-l > * {
    margin-left: 0;
    margin-right: 0; }
  .unflex-l > * + * {
    margin-top: 1rem; } }

.child-margins-x-0-125 > * + * {
  margin-left: 0.125rem; }

.child-margins-x-0-25 > * + * {
  margin-left: 0.25rem; }

.child-margins-x-0-5 > * + * {
  margin-left: 0.5rem; }

.child-margins-x-0-75 > * + * {
  margin-left: 0.75rem; }

.child-margins-x-1 > * + * {
  margin-left: 1rem; }

.child-margins-x-1-25 > * + * {
  margin-left: 1.25rem; }

.child-margins-x-1-5 > * + * {
  margin-left: 1.5rem; }

.child-margins-x-2 > * + * {
  margin-left: 2rem; }

.child-margins-x-3 > * + * {
  margin-left: 3rem; }

.child-margins-x-4 > * + * {
  margin-left: 4rem; }

.child-margins-x-5 > * + * {
  margin-left: 5rem; }

.child-margins-y-0-125 > * + * {
  margin-top: 0.125rem; }

.child-margins-y-0-25 > * + * {
  margin-top: 0.25rem; }

.child-margins-y-0-5 > * + * {
  margin-top: 0.5rem; }

.child-margins-y-0-75 > * + * {
  margin-top: 0.75rem; }

.child-margins-y-1 > * + * {
  margin-top: 1rem; }

.child-margins-y-1-25 > * + * {
  margin-top: 1.25rem; }

.child-margins-y-1-5 > * + * {
  margin-top: 1.5rem; }

.child-margins-y-2 > * + * {
  margin-top: 2rem; }

.child-margins-y-3 > * + * {
  margin-top: 3rem; }

.child-margins-y-4 > * + * {
  margin-top: 4rem; }

.child-margins-y-5 > * + * {
  margin-top: 5rem; }

.child-margins-x-hairline > * + * {
  margin-left: 1px; }

.child-margins-y-hairline > * + * {
  margin-top: 1px; }

.padding-hairline {
  padding: 1px; }

.padding-0-125 {
  padding: 0.125rem; }

.padding-0-25 {
  padding: 0.25rem; }

.padding-0-5 {
  padding: 0.5rem; }

.padding-0-75 {
  padding: 0.75rem; }

.padding-1 {
  padding: 1rem; }

.padding-1-25 {
  padding: 1.25rem; }

.padding-1-5 {
  padding: 1.5rem; }

.padding-2 {
  padding: 2rem; }

.padding-3 {
  padding: 3rem; }

.padding-4 {
  padding: 4rem; }

.padding-5 {
  padding: 5rem; }

.padding-top {
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0; }

.padding-bottom {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0; }

.padding-left {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0; }

.padding-x {
  padding-top: 0;
  padding-bottom: 0; }

.padding-y {
  padding-left: 0;
  padding-right: 0; }

.padding-top-0 {
  padding-top: 0; }

.padding-right-0 {
  padding-right: 0; }

.padding-bottom-0 {
  padding-bottom: 0; }

.padding-left-0 {
  padding-left: 0; }

.margin-auto {
  margin: auto; }

.margin-auto-x {
  margin-left: auto;
  margin-right: auto; }

.margin-auto-y {
  margin-top: auto;
  margin-bottom: auto; }

.margin-hairline {
  margin: 1px; }

.margin-0-125 {
  margin: 0.125rem; }

.margin-0-25 {
  margin: 0.25rem; }

.margin-0-5 {
  margin: 0.5rem; }

.margin-0-75 {
  margin: 0.75rem; }

.margin-1 {
  margin: 1rem; }

.margin-1-25 {
  margin: 1.25rem; }

.margin-1-5 {
  margin: 1.5rem; }

.margin-2 {
  margin: 2rem; }

.margin-3 {
  margin: 3rem; }

.margin-4 {
  margin: 4rem; }

.margin-5 {
  margin: 5rem; }

.negative-margin-0-125 {
  margin: -0.125rem; }

.negative-margin-0-25 {
  margin: -0.25rem; }

.negative-margin-0-5 {
  margin: -0.5rem; }

.negative-margin-0-75 {
  margin: -0.75rem; }

.negative-margin-1 {
  margin: -1rem; }

.negative-margin-1-25 {
  margin: -1.25rem; }

.negative-margin-1-5 {
  margin: -1.5rem; }

.negative-margin-2 {
  margin: -2rem; }

.negative-margin-3 {
  margin: -3rem; }

.negative-margin-4 {
  margin: -4rem; }

.negative-margin-5 {
  margin: -5rem; }

.margin-top {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.margin-bottom {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0; }

.margin-left {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0; }

.margin-x {
  margin-top: 0;
  margin-bottom: 0; }

.margin-y {
  margin-left: 0;
  margin-right: 0; }

.margin-top-0 {
  margin-top: 0; }

.margin-right-0 {
  margin-right: 0; }

.margin-bottom-0 {
  margin-bottom: 0; }

.margin-left-0 {
  margin-left: 0; }

.size-0-75 {
  line-height: 0.75rem;
  font-size: 0.55rem; }

.size-1 {
  line-height: 1rem;
  font-size: 0.7rem; }

.size-1-25 {
  line-height: 1.25rem;
  font-size: 0.95rem; }

.size-1-5 {
  line-height: 1.5rem;
  font-size: 1.3rem; }

.size-1-75 {
  line-height: 1.75rem;
  font-size: 1.65rem; }

.size-2 {
  line-height: 2rem;
  font-size: 1.8rem; }

.line-0-75 {
  line-height: 0.75rem; }

.line-1 {
  line-height: 1rem; }

.line-1-25 {
  line-height: 1.25rem; }

.line-1-5 {
  line-height: 1.5rem; }

.line-1-75 {
  line-height: 1.75rem; }

.line-2 {
  line-height: 2rem; }

.serif {
  font-family: Georgia, Times, "Times New Roman", serif; }

.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.weight-400 {
  font-weight: 400; }

.weight-700, .bold, strong, b {
  font-weight: 600; }

.text-align-left {
  text-align: left; }

.text-align-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

.vertical-align-middle {
  vertical-align: middle; }

.vertical-align-top {
  vertical-align: top; }

.vertical-align-bottom {
  vertical-align: bottom; }

.vertical-align-baseline {
  vertical-align: baseline; }

.uppercase {
  text-transform: uppercase; }

.italic {
  font-style: italic; }

.underlined {
  border-bottom: 1px solid; }

.nowrap {
  white-space: nowrap; }

.overflow-hidden {
  overflow: hidden; }

.overflow-ellipsis {
  text-overflow: ellipsis; }

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.frame {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  max-width: 1366px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 100px 10px rgba(29, 22, 22, 0.2);
  background-color: white; }
