/*
  Resets annoying things */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-size-adjust: 100%; }

ul ul, ul ol, ol ol, ol ul {
  padding-left: 1rem; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

/*
  HTML5 element fixes */
article, aside, details,
figcaption, figure, footer,
header, hgroup,
main, menu, nav,
section, summary,
video, audio, canvas {
  display: block; }

/*
  Hides things that should be hidden */
.hidden,
[hidden],
template,
audio:not([controls]) {
  display: none !important;
  height: 0 !important; }

/*
  Misc element fixes */
a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  height: 0; }

/*
  Image fixes */
img,
svg {
  border: none;
  display: block; }

/*
  Buttons and forms */
button {
  overflow: visible; }

button,
[type="submit"],
[type="reset"] {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  white-space: normal; }

[disabled] {
  cursor: not-allowed !important;
  opacity: 1; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input {
  background: none;
  border: none; }

textarea {
  overflow: auto;
  resize: vertical;
  display: block;
  min-height: 3rem; }

/*
  Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 100%; }

td,
th {
  padding: 0;
  text-align: left; }

/*
  Touchable things */
a,
button,
input,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/*
  List things */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  margin: 0; }

dd {
  margin: 0; }

html {
  font-size: 133%;
  /* Used if browser doesn't support calc() */
  font-size: calc(1em + 0.4vw + 0.4vh + 0.2vmin); }

html,
body {
  height: 100%; }

html {
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  line-height: 1rem;
  font-size: 0.7rem;
  font-weight: 400;
  background-color: #080a0c; }

.borders {
  border-style: solid;
  border-width: 1px; }

.borders-v {
  border-style: solid;
  border-width: 1px 0; }

.borders-h {
  border-style: solid;
  border-width: 0   1px; }

.border-left {
  border-width: 0 0 0 1px;
  border-style: solid; }

.border-top {
  border-width: 1px 0 0 0;
  border-style: solid; }

.border-right {
  border-width: 0 1px 0 0;
  border-style: solid; }

.border-bottom {
  border-width: 0 0 1px 0;
  border-style: solid; }

.child-borders > *,
.child-borders-x > *,
.child-borders-y > * {
  border-style: solid;
  border-width: 0; }

.child-borders {
  border: 0 solid;
  border-width: 1px 0 0 1px; }

.child-borders > * + * {
  border-width: 0 1px 1px 0; }

.child-borders-x > * + * {
  border-left-width: 1px; }

.child-borders-y > * + * {
  border-top-width: 1px; }

.border-radius {
  border-radius: 4px; }

.border-radius-rounded {
  border-radius: 200px; }

.border-radius-50 {
  border-radius: 50%; }

.color-primary-lighten-5 {
  color: #f0f2f5; }

.color-primary-lighten-4 {
  color: #a4b3c1; }

.color-primary-lighten-3 {
  color: #768ca2; }

.color-primary-lighten-2 {
  color: #536679; }

.color-primary-lighten-1 {
  color: #34404c; }

.color-primary {
  color: #151a1e; }

.color-primary-darken-1 {
  color: #111418; }

.color-primary-darken-2 {
  color: #0c0f12; }

.color-primary-darken-3 {
  color: #080a0c; }

.color-primary-darken-4 {
  color: #040506; }

.color-secondary-lighten-5 {
  color: #f0eefb; }

.color-secondary-lighten-4 {
  color: #d0c9f3; }

.color-secondary-lighten-3 {
  color: #b3a7ec; }

.color-secondary-lighten-2 {
  color: #9586e4; }

.color-secondary-lighten-1 {
  color: #7560dc; }

.color-secondary {
  color: #583fd5; }

.color-secondary-darken-1 {
  color: #402e99; }

.color-secondary-darken-2 {
  color: #21174f; }

.color-secondary-darken-3 {
  color: #100c27; }

.color-secondary-darken-4 {
  color: #080614; }

.color-gray-lighten-5 {
  color: #fafafa; }

.color-gray-lighten-4 {
  color: #f2f2f2; }

.color-gray-lighten-3 {
  color: #dbdbdb; }

.color-gray-lighten-2 {
  color: #cccccc; }

.color-gray-lighten-1 {
  color: #bdbdbd; }

.color-gray {
  color: #9e9e9e; }

.color-gray-darken-1 {
  color: #757575; }

.color-gray-darken-2 {
  color: #616161; }

.color-gray-darken-3 {
  color: #424242; }

.color-gray-darken-4 {
  color: #1a1a1a; }

.color-green-lighten-5 {
  color: #e6faf4; }

.color-green-lighten-4 {
  color: #c2eade; }

.color-green-lighten-3 {
  color: #8beacd; }

.color-green-lighten-2 {
  color: #5ae2b9; }

.color-green-lighten-1 {
  color: #2fdaa7; }

.color-green {
  color: #00d192; }

.color-green-darken-1 {
  color: #00996b; }

.color-green-darken-2 {
  color: #006144; }

.color-green-darken-3 {
  color: #003827; }

.color-green-darken-4 {
  color: #00291d; }

.color-yellow-lighten-5 {
  color: #fef9e7; }

.color-yellow-lighten-4 {
  color: #fef1be; }

.color-yellow-lighten-3 {
  color: #fee995; }

.color-yellow-lighten-2 {
  color: #fddf68; }

.color-yellow-lighten-1 {
  color: #fdd73f; }

.color-yellow {
  color: #fdce12; }

.color-yellow-darken-1 {
  color: #b9970e; }

.color-yellow-darken-2 {
  color: #715c09; }

.color-yellow-darken-3 {
  color: #473a05; }

.color-yellow-darken-4 {
  color: #2f2604; }

.color-red-lighten-5 {
  color: #fff0f0; }

.color-red-lighten-4 {
  color: #ffcccc; }

.color-red-lighten-3 {
  color: #ffadad; }

.color-red-lighten-2 {
  color: #ff8a8a; }

.color-red-lighten-1 {
  color: #ff6b6b; }

.color-red {
  color: #ff4747; }

.color-red-darken-1 {
  color: #bb3535; }

.color-red-darken-2 {
  color: #732121; }

.color-red-darken-3 {
  color: #481414; }

.color-red-darken-4 {
  color: #2f0e0e; }

.color-black {
  color: black; }

.color-white {
  color: white; }

.color-transparent {
  color: transparent; }

.color-none {
  color: none; }

.color-inherit {
  color: inherit; }

.color-currentcolor {
  color: currentcolor; }

.bg-primary-lighten-5 {
  background-color: #f0f2f5; }

.bg-primary-lighten-4 {
  background-color: #a4b3c1; }

.bg-primary-lighten-3 {
  background-color: #768ca2; }

.bg-primary-lighten-2 {
  background-color: #536679; }

.bg-primary-lighten-1 {
  background-color: #34404c; }

.bg-primary {
  background-color: #151a1e; }

.bg-primary-darken-1 {
  background-color: #111418; }

.bg-primary-darken-2 {
  background-color: #0c0f12; }

.bg-primary-darken-3 {
  background-color: #080a0c; }

.bg-primary-darken-4 {
  background-color: #040506; }

.bg-secondary-lighten-5 {
  background-color: #f0eefb; }

.bg-secondary-lighten-4 {
  background-color: #d0c9f3; }

.bg-secondary-lighten-3 {
  background-color: #b3a7ec; }

.bg-secondary-lighten-2 {
  background-color: #9586e4; }

.bg-secondary-lighten-1 {
  background-color: #7560dc; }

.bg-secondary {
  background-color: #583fd5; }

.bg-secondary-darken-1 {
  background-color: #402e99; }

.bg-secondary-darken-2 {
  background-color: #21174f; }

.bg-secondary-darken-3 {
  background-color: #100c27; }

.bg-secondary-darken-4 {
  background-color: #080614; }

.bg-gray-lighten-5 {
  background-color: #fafafa; }

.bg-gray-lighten-4 {
  background-color: #f2f2f2; }

.bg-gray-lighten-3 {
  background-color: #dbdbdb; }

.bg-gray-lighten-2 {
  background-color: #cccccc; }

.bg-gray-lighten-1 {
  background-color: #bdbdbd; }

.bg-gray {
  background-color: #9e9e9e; }

.bg-gray-darken-1 {
  background-color: #757575; }

.bg-gray-darken-2 {
  background-color: #616161; }

.bg-gray-darken-3 {
  background-color: #424242; }

.bg-gray-darken-4 {
  background-color: #1a1a1a; }

.bg-green-lighten-5 {
  background-color: #e6faf4; }

.bg-green-lighten-4 {
  background-color: #c2eade; }

.bg-green-lighten-3 {
  background-color: #8beacd; }

.bg-green-lighten-2 {
  background-color: #5ae2b9; }

.bg-green-lighten-1 {
  background-color: #2fdaa7; }

.bg-green {
  background-color: #00d192; }

.bg-green-darken-1 {
  background-color: #00996b; }

.bg-green-darken-2 {
  background-color: #006144; }

.bg-green-darken-3 {
  background-color: #003827; }

.bg-green-darken-4 {
  background-color: #00291d; }

.bg-yellow-lighten-5 {
  background-color: #fef9e7; }

.bg-yellow-lighten-4 {
  background-color: #fef1be; }

.bg-yellow-lighten-3 {
  background-color: #fee995; }

.bg-yellow-lighten-2 {
  background-color: #fddf68; }

.bg-yellow-lighten-1 {
  background-color: #fdd73f; }

.bg-yellow {
  background-color: #fdce12; }

.bg-yellow-darken-1 {
  background-color: #b9970e; }

.bg-yellow-darken-2 {
  background-color: #715c09; }

.bg-yellow-darken-3 {
  background-color: #473a05; }

.bg-yellow-darken-4 {
  background-color: #2f2604; }

.bg-red-lighten-5 {
  background-color: #fff0f0; }

.bg-red-lighten-4 {
  background-color: #ffcccc; }

.bg-red-lighten-3 {
  background-color: #ffadad; }

.bg-red-lighten-2 {
  background-color: #ff8a8a; }

.bg-red-lighten-1 {
  background-color: #ff6b6b; }

.bg-red {
  background-color: #ff4747; }

.bg-red-darken-1 {
  background-color: #bb3535; }

.bg-red-darken-2 {
  background-color: #732121; }

.bg-red-darken-3 {
  background-color: #481414; }

.bg-red-darken-4 {
  background-color: #2f0e0e; }

.bg-black {
  background-color: black; }

.bg-white {
  background-color: white; }

.bg-transparent {
  background-color: transparent; }

.bg-none {
  background-color: none; }

.bg-inherit {
  background-color: inherit; }

.bg-currentcolor {
  background-color: currentcolor; }

.border-color-primary-lighten-5 {
  border-color: #f0f2f5; }

.border-color-primary-lighten-4 {
  border-color: #a4b3c1; }

.border-color-primary-lighten-3 {
  border-color: #768ca2; }

.border-color-primary-lighten-2 {
  border-color: #536679; }

.border-color-primary-lighten-1 {
  border-color: #34404c; }

.border-color-primary {
  border-color: #151a1e; }

.border-color-primary-darken-1 {
  border-color: #111418; }

.border-color-primary-darken-2 {
  border-color: #0c0f12; }

.border-color-primary-darken-3 {
  border-color: #080a0c; }

.border-color-primary-darken-4 {
  border-color: #040506; }

.border-color-secondary-lighten-5 {
  border-color: #f0eefb; }

.border-color-secondary-lighten-4 {
  border-color: #d0c9f3; }

.border-color-secondary-lighten-3 {
  border-color: #b3a7ec; }

.border-color-secondary-lighten-2 {
  border-color: #9586e4; }

.border-color-secondary-lighten-1 {
  border-color: #7560dc; }

.border-color-secondary {
  border-color: #583fd5; }

.border-color-secondary-darken-1 {
  border-color: #402e99; }

.border-color-secondary-darken-2 {
  border-color: #21174f; }

.border-color-secondary-darken-3 {
  border-color: #100c27; }

.border-color-secondary-darken-4 {
  border-color: #080614; }

.border-color-gray-lighten-5 {
  border-color: #fafafa; }

.border-color-gray-lighten-4 {
  border-color: #f2f2f2; }

.border-color-gray-lighten-3 {
  border-color: #dbdbdb; }

.border-color-gray-lighten-2 {
  border-color: #cccccc; }

.border-color-gray-lighten-1 {
  border-color: #bdbdbd; }

.border-color-gray {
  border-color: #9e9e9e; }

.border-color-gray-darken-1 {
  border-color: #757575; }

.border-color-gray-darken-2 {
  border-color: #616161; }

.border-color-gray-darken-3 {
  border-color: #424242; }

.border-color-gray-darken-4 {
  border-color: #1a1a1a; }

.border-color-green-lighten-5 {
  border-color: #e6faf4; }

.border-color-green-lighten-4 {
  border-color: #c2eade; }

.border-color-green-lighten-3 {
  border-color: #8beacd; }

.border-color-green-lighten-2 {
  border-color: #5ae2b9; }

.border-color-green-lighten-1 {
  border-color: #2fdaa7; }

.border-color-green {
  border-color: #00d192; }

.border-color-green-darken-1 {
  border-color: #00996b; }

.border-color-green-darken-2 {
  border-color: #006144; }

.border-color-green-darken-3 {
  border-color: #003827; }

.border-color-green-darken-4 {
  border-color: #00291d; }

.border-color-yellow-lighten-5 {
  border-color: #fef9e7; }

.border-color-yellow-lighten-4 {
  border-color: #fef1be; }

.border-color-yellow-lighten-3 {
  border-color: #fee995; }

.border-color-yellow-lighten-2 {
  border-color: #fddf68; }

.border-color-yellow-lighten-1 {
  border-color: #fdd73f; }

.border-color-yellow {
  border-color: #fdce12; }

.border-color-yellow-darken-1 {
  border-color: #b9970e; }

.border-color-yellow-darken-2 {
  border-color: #715c09; }

.border-color-yellow-darken-3 {
  border-color: #473a05; }

.border-color-yellow-darken-4 {
  border-color: #2f2604; }

.border-color-red-lighten-5 {
  border-color: #fff0f0; }

.border-color-red-lighten-4 {
  border-color: #ffcccc; }

.border-color-red-lighten-3 {
  border-color: #ffadad; }

.border-color-red-lighten-2 {
  border-color: #ff8a8a; }

.border-color-red-lighten-1 {
  border-color: #ff6b6b; }

.border-color-red {
  border-color: #ff4747; }

.border-color-red-darken-1 {
  border-color: #bb3535; }

.border-color-red-darken-2 {
  border-color: #732121; }

.border-color-red-darken-3 {
  border-color: #481414; }

.border-color-red-darken-4 {
  border-color: #2f0e0e; }

.border-color-black {
  border-color: black; }

.border-color-white {
  border-color: white; }

.border-color-transparent {
  border-color: transparent; }

.border-color-none {
  border-color: none; }

.border-color-inherit {
  border-color: inherit; }

.border-color-currentcolor {
  border-color: currentcolor; }

.stroke-primary-lighten-5 {
  stroke: #f0f2f5; }

.stroke-primary-lighten-4 {
  stroke: #a4b3c1; }

.stroke-primary-lighten-3 {
  stroke: #768ca2; }

.stroke-primary-lighten-2 {
  stroke: #536679; }

.stroke-primary-lighten-1 {
  stroke: #34404c; }

.stroke-primary {
  stroke: #151a1e; }

.stroke-primary-darken-1 {
  stroke: #111418; }

.stroke-primary-darken-2 {
  stroke: #0c0f12; }

.stroke-primary-darken-3 {
  stroke: #080a0c; }

.stroke-primary-darken-4 {
  stroke: #040506; }

.stroke-secondary-lighten-5 {
  stroke: #f0eefb; }

.stroke-secondary-lighten-4 {
  stroke: #d0c9f3; }

.stroke-secondary-lighten-3 {
  stroke: #b3a7ec; }

.stroke-secondary-lighten-2 {
  stroke: #9586e4; }

.stroke-secondary-lighten-1 {
  stroke: #7560dc; }

.stroke-secondary {
  stroke: #583fd5; }

.stroke-secondary-darken-1 {
  stroke: #402e99; }

.stroke-secondary-darken-2 {
  stroke: #21174f; }

.stroke-secondary-darken-3 {
  stroke: #100c27; }

.stroke-secondary-darken-4 {
  stroke: #080614; }

.stroke-gray-lighten-5 {
  stroke: #fafafa; }

.stroke-gray-lighten-4 {
  stroke: #f2f2f2; }

.stroke-gray-lighten-3 {
  stroke: #dbdbdb; }

.stroke-gray-lighten-2 {
  stroke: #cccccc; }

.stroke-gray-lighten-1 {
  stroke: #bdbdbd; }

.stroke-gray {
  stroke: #9e9e9e; }

.stroke-gray-darken-1 {
  stroke: #757575; }

.stroke-gray-darken-2 {
  stroke: #616161; }

.stroke-gray-darken-3 {
  stroke: #424242; }

.stroke-gray-darken-4 {
  stroke: #1a1a1a; }

.stroke-green-lighten-5 {
  stroke: #e6faf4; }

.stroke-green-lighten-4 {
  stroke: #c2eade; }

.stroke-green-lighten-3 {
  stroke: #8beacd; }

.stroke-green-lighten-2 {
  stroke: #5ae2b9; }

.stroke-green-lighten-1 {
  stroke: #2fdaa7; }

.stroke-green {
  stroke: #00d192; }

.stroke-green-darken-1 {
  stroke: #00996b; }

.stroke-green-darken-2 {
  stroke: #006144; }

.stroke-green-darken-3 {
  stroke: #003827; }

.stroke-green-darken-4 {
  stroke: #00291d; }

.stroke-yellow-lighten-5 {
  stroke: #fef9e7; }

.stroke-yellow-lighten-4 {
  stroke: #fef1be; }

.stroke-yellow-lighten-3 {
  stroke: #fee995; }

.stroke-yellow-lighten-2 {
  stroke: #fddf68; }

.stroke-yellow-lighten-1 {
  stroke: #fdd73f; }

.stroke-yellow {
  stroke: #fdce12; }

.stroke-yellow-darken-1 {
  stroke: #b9970e; }

.stroke-yellow-darken-2 {
  stroke: #715c09; }

.stroke-yellow-darken-3 {
  stroke: #473a05; }

.stroke-yellow-darken-4 {
  stroke: #2f2604; }

.stroke-red-lighten-5 {
  stroke: #fff0f0; }

.stroke-red-lighten-4 {
  stroke: #ffcccc; }

.stroke-red-lighten-3 {
  stroke: #ffadad; }

.stroke-red-lighten-2 {
  stroke: #ff8a8a; }

.stroke-red-lighten-1 {
  stroke: #ff6b6b; }

.stroke-red {
  stroke: #ff4747; }

.stroke-red-darken-1 {
  stroke: #bb3535; }

.stroke-red-darken-2 {
  stroke: #732121; }

.stroke-red-darken-3 {
  stroke: #481414; }

.stroke-red-darken-4 {
  stroke: #2f0e0e; }

.stroke-black {
  stroke: black; }

.stroke-white {
  stroke: white; }

.stroke-transparent {
  stroke: transparent; }

.stroke-none {
  stroke: none; }

.stroke-inherit {
  stroke: inherit; }

.stroke-currentcolor {
  stroke: currentcolor; }

.fill-primary-lighten-5 {
  fill: #f0f2f5; }

.fill-primary-lighten-4 {
  fill: #a4b3c1; }

.fill-primary-lighten-3 {
  fill: #768ca2; }

.fill-primary-lighten-2 {
  fill: #536679; }

.fill-primary-lighten-1 {
  fill: #34404c; }

.fill-primary {
  fill: #151a1e; }

.fill-primary-darken-1 {
  fill: #111418; }

.fill-primary-darken-2 {
  fill: #0c0f12; }

.fill-primary-darken-3 {
  fill: #080a0c; }

.fill-primary-darken-4 {
  fill: #040506; }

.fill-secondary-lighten-5 {
  fill: #f0eefb; }

.fill-secondary-lighten-4 {
  fill: #d0c9f3; }

.fill-secondary-lighten-3 {
  fill: #b3a7ec; }

.fill-secondary-lighten-2 {
  fill: #9586e4; }

.fill-secondary-lighten-1 {
  fill: #7560dc; }

.fill-secondary {
  fill: #583fd5; }

.fill-secondary-darken-1 {
  fill: #402e99; }

.fill-secondary-darken-2 {
  fill: #21174f; }

.fill-secondary-darken-3 {
  fill: #100c27; }

.fill-secondary-darken-4 {
  fill: #080614; }

.fill-gray-lighten-5 {
  fill: #fafafa; }

.fill-gray-lighten-4 {
  fill: #f2f2f2; }

.fill-gray-lighten-3 {
  fill: #dbdbdb; }

.fill-gray-lighten-2 {
  fill: #cccccc; }

.fill-gray-lighten-1 {
  fill: #bdbdbd; }

.fill-gray {
  fill: #9e9e9e; }

.fill-gray-darken-1 {
  fill: #757575; }

.fill-gray-darken-2 {
  fill: #616161; }

.fill-gray-darken-3 {
  fill: #424242; }

.fill-gray-darken-4 {
  fill: #1a1a1a; }

.fill-green-lighten-5 {
  fill: #e6faf4; }

.fill-green-lighten-4 {
  fill: #c2eade; }

.fill-green-lighten-3 {
  fill: #8beacd; }

.fill-green-lighten-2 {
  fill: #5ae2b9; }

.fill-green-lighten-1 {
  fill: #2fdaa7; }

.fill-green {
  fill: #00d192; }

.fill-green-darken-1 {
  fill: #00996b; }

.fill-green-darken-2 {
  fill: #006144; }

.fill-green-darken-3 {
  fill: #003827; }

.fill-green-darken-4 {
  fill: #00291d; }

.fill-yellow-lighten-5 {
  fill: #fef9e7; }

.fill-yellow-lighten-4 {
  fill: #fef1be; }

.fill-yellow-lighten-3 {
  fill: #fee995; }

.fill-yellow-lighten-2 {
  fill: #fddf68; }

.fill-yellow-lighten-1 {
  fill: #fdd73f; }

.fill-yellow {
  fill: #fdce12; }

.fill-yellow-darken-1 {
  fill: #b9970e; }

.fill-yellow-darken-2 {
  fill: #715c09; }

.fill-yellow-darken-3 {
  fill: #473a05; }

.fill-yellow-darken-4 {
  fill: #2f2604; }

.fill-red-lighten-5 {
  fill: #fff0f0; }

.fill-red-lighten-4 {
  fill: #ffcccc; }

.fill-red-lighten-3 {
  fill: #ffadad; }

.fill-red-lighten-2 {
  fill: #ff8a8a; }

.fill-red-lighten-1 {
  fill: #ff6b6b; }

.fill-red {
  fill: #ff4747; }

.fill-red-darken-1 {
  fill: #bb3535; }

.fill-red-darken-2 {
  fill: #732121; }

.fill-red-darken-3 {
  fill: #481414; }

.fill-red-darken-4 {
  fill: #2f0e0e; }

.fill-black {
  fill: black; }

.fill-white {
  fill: white; }

.fill-transparent {
  fill: transparent; }

.fill-none {
  fill: none; }

.fill-inherit {
  fill: inherit; }

.fill-currentcolor {
  fill: currentcolor; }

.outline-primary-lighten-5 {
  outline: #f0f2f5; }

.outline-primary-lighten-4 {
  outline: #a4b3c1; }

.outline-primary-lighten-3 {
  outline: #768ca2; }

.outline-primary-lighten-2 {
  outline: #536679; }

.outline-primary-lighten-1 {
  outline: #34404c; }

.outline-primary {
  outline: #151a1e; }

.outline-primary-darken-1 {
  outline: #111418; }

.outline-primary-darken-2 {
  outline: #0c0f12; }

.outline-primary-darken-3 {
  outline: #080a0c; }

.outline-primary-darken-4 {
  outline: #040506; }

.outline-secondary-lighten-5 {
  outline: #f0eefb; }

.outline-secondary-lighten-4 {
  outline: #d0c9f3; }

.outline-secondary-lighten-3 {
  outline: #b3a7ec; }

.outline-secondary-lighten-2 {
  outline: #9586e4; }

.outline-secondary-lighten-1 {
  outline: #7560dc; }

.outline-secondary {
  outline: #583fd5; }

.outline-secondary-darken-1 {
  outline: #402e99; }

.outline-secondary-darken-2 {
  outline: #21174f; }

.outline-secondary-darken-3 {
  outline: #100c27; }

.outline-secondary-darken-4 {
  outline: #080614; }

.outline-gray-lighten-5 {
  outline: #fafafa; }

.outline-gray-lighten-4 {
  outline: #f2f2f2; }

.outline-gray-lighten-3 {
  outline: #dbdbdb; }

.outline-gray-lighten-2 {
  outline: #cccccc; }

.outline-gray-lighten-1 {
  outline: #bdbdbd; }

.outline-gray {
  outline: #9e9e9e; }

.outline-gray-darken-1 {
  outline: #757575; }

.outline-gray-darken-2 {
  outline: #616161; }

.outline-gray-darken-3 {
  outline: #424242; }

.outline-gray-darken-4 {
  outline: #1a1a1a; }

.outline-green-lighten-5 {
  outline: #e6faf4; }

.outline-green-lighten-4 {
  outline: #c2eade; }

.outline-green-lighten-3 {
  outline: #8beacd; }

.outline-green-lighten-2 {
  outline: #5ae2b9; }

.outline-green-lighten-1 {
  outline: #2fdaa7; }

.outline-green {
  outline: #00d192; }

.outline-green-darken-1 {
  outline: #00996b; }

.outline-green-darken-2 {
  outline: #006144; }

.outline-green-darken-3 {
  outline: #003827; }

.outline-green-darken-4 {
  outline: #00291d; }

.outline-yellow-lighten-5 {
  outline: #fef9e7; }

.outline-yellow-lighten-4 {
  outline: #fef1be; }

.outline-yellow-lighten-3 {
  outline: #fee995; }

.outline-yellow-lighten-2 {
  outline: #fddf68; }

.outline-yellow-lighten-1 {
  outline: #fdd73f; }

.outline-yellow {
  outline: #fdce12; }

.outline-yellow-darken-1 {
  outline: #b9970e; }

.outline-yellow-darken-2 {
  outline: #715c09; }

.outline-yellow-darken-3 {
  outline: #473a05; }

.outline-yellow-darken-4 {
  outline: #2f2604; }

.outline-red-lighten-5 {
  outline: #fff0f0; }

.outline-red-lighten-4 {
  outline: #ffcccc; }

.outline-red-lighten-3 {
  outline: #ffadad; }

.outline-red-lighten-2 {
  outline: #ff8a8a; }

.outline-red-lighten-1 {
  outline: #ff6b6b; }

.outline-red {
  outline: #ff4747; }

.outline-red-darken-1 {
  outline: #bb3535; }

.outline-red-darken-2 {
  outline: #732121; }

.outline-red-darken-3 {
  outline: #481414; }

.outline-red-darken-4 {
  outline: #2f0e0e; }

.outline-black {
  outline: black; }

.outline-white {
  outline: white; }

.outline-transparent {
  outline: transparent; }

.outline-none {
  outline: none; }

.outline-inherit {
  outline: inherit; }

.outline-currentcolor {
  outline: currentcolor; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }

.grow,
.grow-children > * {
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  flex-basis: auto;
  -ms-flex-preferred-size: auto;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

.even,
.even-children > * {
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

.wrap {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex.inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.align-stretch {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }

.align-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }

.align-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.align-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }

.align-baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -ms-flex-align: baseline; }

.justify {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.justify-around {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }

.justify-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }

.justify-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.justify-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }

.vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

.vertical-reverse {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse; }

.reverse {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-direction: row-reverse; }

.content-stretch {
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch; }

.content-start {
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start; }

.content-center {
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center; }

.content-end {
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  align-content: flex-end;
  -ms-flex-line-pack: end; }

.content-justify {
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  align-content: space-between;
  -ms-flex-line-pack: justify; }

.content-justify-around {
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  align-content: space-around;
  -ms-flex-line-pack: distribute; }

.self-stretch {
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch; }

.self-start {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start; }

.self-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

.self-end {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end; }

.self-baseline {
  -webkit-align-self: baseline;
  -moz-align-self: baseline;
  align-self: baseline;
  -ms-flex-item-align: baseline; }

@media screen and (max-width: 319px) {
  .unflex-xs {
    display: block; }
  .unflex-xs > * {
    margin-left: 0;
    margin-right: 0; }
  .unflex-xs > * + * {
    margin-top: 1rem; } }

@media screen and (max-width: 611px) {
  .unflex-s {
    display: block; }
  .unflex-s > * {
    margin-left: 0;
    margin-right: 0; }
  .unflex-s > * + * {
    margin-top: 1rem; } }

@media screen and (max-width: 767px) {
  .unflex-m {
    display: block; }
  .unflex-m > * {
    margin-left: 0;
    margin-right: 0; }
  .unflex-m > * + * {
    margin-top: 1rem; } }

@media screen and (max-width: 979px) {
  .unflex-l {
    display: block; }
  .unflex-l > * {
    margin-left: 0;
    margin-right: 0; }
  .unflex-l > * + * {
    margin-top: 1rem; } }

.float-left {
  float: left; }

.float-right {
  float: right; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.round {
  border-radius: 50%; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.vertical-top {
  vertical-align: top; }

.vertical-middle {
  vertical-align: middle; }

.vertical-bottom {
  vertical-align: bottom; }

.width-100 {
  width: 100%; }

.min-width-100 {
  min-width: 100%; }

.width-auto {
  width: auto; }

.width-100vw {
  width: 100vw; }

.min-width-100vw {
  min-width: 100vw; }

.width-hairline {
  width: 1px; }

.width-0-125 {
  width: 0.125rem; }

.width-0-25 {
  width: 0.25rem; }

.width-0-5 {
  width: 0.5rem; }

.width-0-75 {
  width: 0.75rem; }

.width-1 {
  width: 1rem; }

.width-1-25 {
  width: 1.25rem; }

.width-1-5 {
  width: 1.5rem; }

.width-2 {
  width: 2rem; }

.width-3 {
  width: 3rem; }

.width-4 {
  width: 4rem; }

.width-5 {
  width: 5rem; }

.height-100 {
  height: 100%; }

.min-height-100 {
  min-height: 100%; }

.height-auto {
  height: auto; }

.height-100vh {
  height: 100vh; }

.min-height-100vh {
  min-height: 100vh; }

.height-hairline {
  height: 1px; }

.height-0-125 {
  height: 0.125rem; }

.height-0-25 {
  height: 0.25rem; }

.height-0-5 {
  height: 0.5rem; }

.height-0-75 {
  height: 0.75rem; }

.height-1 {
  height: 1rem; }

.height-1-25 {
  height: 1.25rem; }

.height-1-5 {
  height: 1.5rem; }

.height-2 {
  height: 2rem; }

.height-3 {
  height: 3rem; }

.height-4 {
  height: 4rem; }

.height-5 {
  height: 5rem; }

.container {
  max-width: 1600px;
  margin: 0 auto; }
  .full-width-layout .container {
    max-width: none;
    margin: auto; }

.child-margins-x-0-125 > * + * {
  margin-left: 0.125rem; }

.child-margins-x-0-25 > * + * {
  margin-left: 0.25rem; }

.child-margins-x-0-5 > * + * {
  margin-left: 0.5rem; }

.child-margins-x-0-75 > * + * {
  margin-left: 0.75rem; }

.child-margins-x-1 > * + * {
  margin-left: 1rem; }

.child-margins-x-1-25 > * + * {
  margin-left: 1.25rem; }

.child-margins-x-1-5 > * + * {
  margin-left: 1.5rem; }

.child-margins-x-2 > * + * {
  margin-left: 2rem; }

.child-margins-x-3 > * + * {
  margin-left: 3rem; }

.child-margins-x-4 > * + * {
  margin-left: 4rem; }

.child-margins-x-5 > * + * {
  margin-left: 5rem; }

.child-margins-y-0-125 > * + * {
  margin-top: 0.125rem; }

.child-margins-y-0-25 > * + * {
  margin-top: 0.25rem; }

.child-margins-y-0-5 > * + * {
  margin-top: 0.5rem; }

.child-margins-y-0-75 > * + * {
  margin-top: 0.75rem; }

.child-margins-y-1 > * + * {
  margin-top: 1rem; }

.child-margins-y-1-25 > * + * {
  margin-top: 1.25rem; }

.child-margins-y-1-5 > * + * {
  margin-top: 1.5rem; }

.child-margins-y-2 > * + * {
  margin-top: 2rem; }

.child-margins-y-3 > * + * {
  margin-top: 3rem; }

.child-margins-y-4 > * + * {
  margin-top: 4rem; }

.child-margins-y-5 > * + * {
  margin-top: 5rem; }

.child-margins-x-hairline > * + * {
  margin-left: 1px; }

.child-margins-y-hairline > * + * {
  margin-top: 1px; }

.padding-hairline {
  padding: 1px; }

.padding-0-125 {
  padding: 0.125rem; }

.padding-0-25 {
  padding: 0.25rem; }

.padding-0-5 {
  padding: 0.5rem; }

.padding-0-75 {
  padding: 0.75rem; }

.padding-1 {
  padding: 1rem; }

.padding-1-25 {
  padding: 1.25rem; }

.padding-1-5 {
  padding: 1.5rem; }

.padding-2 {
  padding: 2rem; }

.padding-3 {
  padding: 3rem; }

.padding-4 {
  padding: 4rem; }

.padding-5 {
  padding: 5rem; }

.padding-top {
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0; }

.padding-bottom {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0; }

.padding-left {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0; }

.padding-x {
  padding-top: 0;
  padding-bottom: 0; }

.padding-y {
  padding-left: 0;
  padding-right: 0; }

.padding-top-0 {
  padding-top: 0; }

.padding-right-0 {
  padding-right: 0; }

.padding-bottom-0 {
  padding-bottom: 0; }

.padding-left-0 {
  padding-left: 0; }

.margin-auto {
  margin: auto; }

.margin-auto-x {
  margin-left: auto;
  margin-right: auto; }

.margin-auto-y {
  margin-top: auto;
  margin-bottom: auto; }

.margin-hairline {
  margin: 1px; }

.margin-0-125 {
  margin: 0.125rem; }

.margin-0-25 {
  margin: 0.25rem; }

.margin-0-5 {
  margin: 0.5rem; }

.margin-0-75 {
  margin: 0.75rem; }

.margin-1 {
  margin: 1rem; }

.margin-1-25 {
  margin: 1.25rem; }

.margin-1-5 {
  margin: 1.5rem; }

.margin-2 {
  margin: 2rem; }

.margin-3 {
  margin: 3rem; }

.margin-4 {
  margin: 4rem; }

.margin-5 {
  margin: 5rem; }

.negative-margin-0-125 {
  margin: -0.125rem; }

.negative-margin-0-25 {
  margin: -0.25rem; }

.negative-margin-0-5 {
  margin: -0.5rem; }

.negative-margin-0-75 {
  margin: -0.75rem; }

.negative-margin-1 {
  margin: -1rem; }

.negative-margin-1-25 {
  margin: -1.25rem; }

.negative-margin-1-5 {
  margin: -1.5rem; }

.negative-margin-2 {
  margin: -2rem; }

.negative-margin-3 {
  margin: -3rem; }

.negative-margin-4 {
  margin: -4rem; }

.negative-margin-5 {
  margin: -5rem; }

.margin-top {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.margin-bottom {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0; }

.margin-left {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0; }

.margin-x {
  margin-top: 0;
  margin-bottom: 0; }

.margin-y {
  margin-left: 0;
  margin-right: 0; }

.margin-top-0 {
  margin-top: 0; }

.margin-right-0 {
  margin-right: 0; }

.margin-bottom-0 {
  margin-bottom: 0; }

.margin-left-0 {
  margin-left: 0; }

.size-0-75 {
  line-height: 0.75rem;
  font-size: 0.55rem; }

.size-1 {
  line-height: 1rem;
  font-size: 0.7rem; }

.size-1-25 {
  line-height: 1.25rem;
  font-size: 0.95rem; }

.size-1-5 {
  line-height: 1.5rem;
  font-size: 1.3rem; }

.size-1-75 {
  line-height: 1.75rem;
  font-size: 1.65rem; }

.size-2 {
  line-height: 2rem;
  font-size: 1.8rem; }

.line-0-75 {
  line-height: 0.75rem; }

.line-1 {
  line-height: 1rem; }

.line-1-25 {
  line-height: 1.25rem; }

.line-1-5 {
  line-height: 1.5rem; }

.line-1-75 {
  line-height: 1.75rem; }

.line-2 {
  line-height: 2rem; }

.serif {
  font-family: Georgia, Times, "Times New Roman", serif; }

.sans {
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.weight-400 {
  font-weight: 400; }

.weight-600, .bold, strong, b {
  font-weight: 600; }

.text-align-left {
  text-align: left; }

.text-align-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

.vertical-align-middle {
  vertical-align: middle; }

.vertical-align-top {
  vertical-align: top; }

.vertical-align-bottom {
  vertical-align: bottom; }

.vertical-align-baseline {
  vertical-align: baseline; }

.uppercase {
  text-transform: uppercase; }

.italic {
  font-style: italic; }

.underlined {
  border-bottom: 1px solid; }

.nowrap {
  white-space: nowrap; }

.overflow-hidden {
  overflow: hidden; }

.overflow-ellipsis {
  text-overflow: ellipsis; }

.rmc-picker {
  display: block;
  position: relative;
  overflow: hidden;
  height: 350px; }
  .rmc-picker-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 150px 0; }
  .rmc-picker-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-image: -webkit-linear-gradient(top, rgba(21, 26, 30, 0.95), rgba(21, 26, 30, 0.6)), -webkit-linear-gradient(bottom, rgba(21, 26, 30, 0.95), rgba(21, 26, 30, 0.6));
    background-image: linear-gradient(to bottom, rgba(21, 26, 30, 0.95), rgba(21, 26, 30, 0.6)), linear-gradient(to top, rgba(21, 26, 30, 0.95), rgba(21, 26, 30, 0.6));
    background-position: top, bottom;
    background-size: 100% 150px;
    background-repeat: no-repeat; }
  .rmc-picker-item {
    text-align: center;
    font-size: 0.7rem;
    line-height: 50px;
    height: 50px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .rmc-picker-indicator {
    right: 0;
    position: absolute;
    left: 0;
    top: 150px;
    height: 50px;
    z-index: 3;
    background-position: top, bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat; }
    .rmc-picker-indicator:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: #151a1e;
      background-image: -webkit-linear-gradient(left, #151a1e 0%, rgba(52, 64, 76, 0.7) 50%, #151a1e 100%);
      background-image: linear-gradient(to right,#151a1e 0%, rgba(52, 64, 76, 0.7) 50%, #151a1e 100%); }
    .rmc-picker-indicator:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #151a1e;
      background-image: -webkit-linear-gradient(left, #151a1e 0%, rgba(52, 64, 76, 0.7) 50%, #151a1e 100%);
      background-image: linear-gradient(to right,#151a1e 0%, rgba(52, 64, 76, 0.7) 50%, #151a1e 100%); }

.rmc-picker-item-selected {
  color: white;
  background-color: #151a1e;
  background-image: -webkit-linear-gradient(left, #151a1e 0%, rgba(52, 64, 76, 0.7) 50%, #151a1e 100%);
  background-image: linear-gradient(to right,#151a1e 0%, rgba(52, 64, 76, 0.7) 50%, #151a1e 100%); }

.rmc-multi-picker {
  position: relative;
  display: flex;
  align-items: center; }
  .rmc-multi-picker:after {
    content: 'VS';
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4rem;
    font-size: 1.3rem;
    line-height: 4rem;
    text-align: center;
    font-weight: 600;
    color: white;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 900;
    background-image: url("images/hexagon.svg"); }
  .rmc-multi-picker:before {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3rem;
    box-shadow: 0 0 80px 10px rgba(149, 134, 228, 0.4), 0 0 40px 0 rgba(149, 134, 228, 0.5);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 800; }
  .rmc-multi-picker-item {
    flex: 1;
    text-align: center; }

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  border: 1px solid;
  border-color: #583fd5;
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  color: white;
  line-height: 1rem;
  font-size: 0.7rem;
  background: #583fd5;
  -webkit-transition: background-color 200ms cubic-bezier(0.236, 0, 0.236, 1), color 200ms cubic-bezier(0.236, 0, 0.236, 1), border-color 200ms cubic-bezier(0.236, 0, 0.236, 1);
  -moz-transition: background-color 200ms cubic-bezier(0.236, 0, 0.236, 1), color 200ms cubic-bezier(0.236, 0, 0.236, 1), border-color 200ms cubic-bezier(0.236, 0, 0.236, 1);
  transition: background-color 200ms cubic-bezier(0.236, 0, 0.236, 1), color 200ms cubic-bezier(0.236, 0, 0.236, 1), border-color 200ms cubic-bezier(0.236, 0, 0.236, 1); }
  .button:hover {
    color: white;
    background-color: #7560dc; }
  .button:focus {
    outline: none;
    color: white;
    border-color: #583fd5;
    background-color: #402e99; }
  .button:active, .button.button--active {
    color: white;
    background-color: #402e99; }

.button--square {
  border-radius: 0; }

.button--round {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 5rem; }

.button--ghost {
  color: #583fd5;
  background-color: transparent;
  border: 1px solid #583fd5; }
  .button--ghost:hover {
    border-color: #9586e4;
    color: #9586e4;
    background-color: transparent; }
  .button--ghost:focus {
    outline: none;
    border-color: #402e99;
    color: #402e99;
    background-color: transparent; }
  .button--ghost:active, .button--ghost.button--active {
    border-color: #402e99;
    color: #402e99;
    background-color: transparent; }

.button--white {
  color: #424242;
  border-color: #dbdbdb;
  background: white; }
  .button--white:hover {
    color: #1a1a1a;
    border-color: #cccccc;
    background-color: #fafafa; }
  .button--white:focus {
    color: #1a1a1a;
    border-color: #9e9e9e;
    background-color: white; }
  .button--white:active, .button--white.button--active {
    color: #1a1a1a;
    border-color: #dbdbdb;
    background-color: #f2f2f2; }
  .button--white.button--ghost {
    color: white;
    background-color: transparent;
    border: 1px solid white; }
    .button--white.button--ghost:hover {
      border-color: #dbdbdb;
      color: #dbdbdb;
      background-color: transparent; }
    .button--white.button--ghost:focus {
      border-color: #bdbdbd;
      color: #bdbdbd;
      background-color: transparent; }
    .button--white.button--ghost:active, .button--white.button--ghost.button--active {
      border-color: #bdbdbd;
      color: #bdbdbd;
      background-color: transparent; }

.button--green {
  border-color: #00d192;
  background: #00d192; }
  .button--green:hover {
    border-color: #2fdaa7;
    background-color: #2fdaa7; }
  .button--green:focus {
    border-color: #00996b;
    background-color: #00996b; }
  .button--green:active, .button--green.button--active {
    border-color: #00996b;
    background-color: #00996b; }
  .button--green.button--ghost {
    color: #00d192;
    background-color: transparent;
    border: 1px solid #00d192; }
    .button--green.button--ghost:hover {
      border-color: #5ae2b9;
      color: #5ae2b9;
      background-color: transparent; }
    .button--green.button--ghost:focus {
      border-color: #00996b;
      color: #00996b;
      background-color: transparent; }
    .button--green.button--ghost:active, .button--green.button--ghost.button--active {
      border-color: #00996b;
      color: #00996b;
      background-color: transparent; }

.button--yellow {
  border-color: #fdce12;
  background: #fdce12; }
  .button--yellow:hover {
    border-color: #fdd73f;
    background-color: #fdd73f; }
  .button--yellow:focus {
    border-color: #b9970e;
    background-color: #b9970e; }
  .button--yellow:active, .button--yellow.button--active {
    border-color: #b9970e;
    background-color: #b9970e; }
  .button--yellow.button--ghost {
    color: #fdce12;
    background-color: transparent;
    border: 1px solid #fdce12; }
    .button--yellow.button--ghost:hover {
      border-color: #fddf68;
      color: #fddf68;
      background-color: transparent; }
    .button--yellow.button--ghost:focus {
      border-color: #b9970e;
      color: #b9970e;
      background-color: transparent; }
    .button--yellow.button--ghost:active, .button--yellow.button--ghost.button--active {
      border-color: #b9970e;
      color: #b9970e;
      background-color: transparent; }

.button--red {
  border-color: #ff4747;
  background: #ff4747; }
  .button--red:hover {
    border-color: #ff6b6b;
    background-color: #ff6b6b; }
  .button--red:focus {
    border-color: #bb3535;
    background-color: #bb3535; }
  .button--red:active, .button--red.button--active {
    border-color: #bb3535;
    background-color: #bb3535; }
  .button--red.button--ghost {
    color: #ff4747;
    background-color: transparent;
    border: 1px solid #ff4747; }
    .button--red.button--ghost:hover {
      border-color: #ff8a8a;
      color: #ff8a8a;
      background-color: transparent; }
    .button--red.button--ghost:focus {
      border-color: #bb3535;
      color: #bb3535;
      background-color: transparent; }
    .button--red.button--ghost:active, .button--red.button--ghost.button--active {
      border-color: #bb3535;
      color: #bb3535;
      background-color: transparent; }

.button--disabled, .button:disabled {
  border-color: #dbdbdb;
  color: #bdbdbd;
  background: #f2f2f2;
  cursor: not-allowed; }
  .button--disabled:hover, .button--disabled:focus, .button--disabled:active, .button:disabled:hover, .button:disabled:focus, .button:disabled:active {
    border-color: #dbdbdb;
    color: #bdbdbd;
    background: #f2f2f2; }

.button--small {
  padding: 0.25rem 0.5rem;
  line-height: 0.75rem;
  font-size: 0.55rem; }
  .button--small.button--round {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

.button--medium {
  padding: 0.75rem 1rem;
  line-height: 1.25rem;
  font-size: 0.95rem; }
  .button--medium.button--round {
    padding-left: 1rem;
    padding-right: 1rem; }

.button--large {
  padding: 1rem 1.25rem;
  line-height: 1.5rem;
  font-size: 1.3rem; }
  .button--large.button--round {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.frame {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  max-width: 1366px;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 64px;
  box-shadow: 0 0 100px 10px #040506;
  background-color: #151a1e; }

.rink svg {
  max-height: 400px; }

.tab-bar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 1366px;
  height: 64px;
  background-color: #111418;
  z-index: 100; }
  .tab-bar:before {
    content: '';
    position: absolute;
    left: -10rem;
    right: -10rem;
    top: 0;
    bottom: 0;
    box-shadow: 0 -10px 50px 0px #0c0f12; }

.tab-bar__link {
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  height: 64px;
  text-align: center; }
  .tab-bar__link.tab-bar__link--active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 0;
    box-shadow: 0 -5px 70px 3px rgba(149, 134, 228, 0.7), 0 -1px 40px 3px rgba(149, 134, 228, 0.5); }

.tab-bar__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  width: 30px;
  fill: #34404c; }
  .tab-bar__link--active .tab-bar__icon {
    fill: #9586e4; }

.tab-bar__label {
  display: block;
  color: #34404c;
  line-height: 1;
  font-size: 13px;
  white-space: nowrap; }
  .tab-bar__link--active .tab-bar__label {
    color: #9586e4; }

.title-bar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  max-width: 1366px;
  height: 54px;
  background-color: #111418;
  z-index: 100; }
  .title-bar:before {
    content: '';
    position: absolute;
    left: -10rem;
    right: -10rem;
    top: 0;
    bottom: 0;
    box-shadow: 0 10px 30px 2px #0c0f12; }

.title-bar__middle {
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  text-align: center; }

.title-bar__title {
  line-height: 1;
  white-space: nowrap;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white; }
