.team {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 1rem;
    left: 1rem;

    height: 1px;

    background-color: color(primary, lighten-1);
  }
  .team__players {
    position: relative;
    &:after {
      @include mq(m) {
        content: '';
        display: block;
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        right: 0;

        width: 1px;

        background-color: color(primary, lighten-1);
      }
    }
  }
  .team__games {}
}