$title-bar-bg: color(primary, darken-1);
$title-bar-shadow: color(primary, darken-2);
$title-bar-color: color(white);
.title-bar {
  @include display(flex);
  @include align-items(center);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  max-width: $max-width;
  height: $title-height;

  background-color: $title-bar-bg;
  z-index: 100;
  &:before {
    content: '';
    position: absolute;
    left: -10rem;
    right: -10rem;
    top: 0;
    bottom: 0;

    box-shadow: 0 10px 30px 2px $title-bar-shadow;

  }
}
.title-bar__middle {
  @include flex-basis(0);
  @include flex-grow(1);

  text-align: center;
}
.title-bar__title {
  line-height: 1;
  white-space: nowrap;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: $title-bar-color;
}